spring:
  datasource:
    url:
    username:
    password:
    driver-class-name: org.h2.Driver


  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
      batch_default_fetch_size: 100

server:
  error:
    include-stacktrace: always
    include-message: always


logging:
  level:
    org.hibernate.SQL: debug

